<%_ if (!authed) { // TODO tidy this%>
<% let username, email = '';                                                              %>
<%if (typeof attemptedUsername !== 'undefined' && typeof attemptedEmail !== 'undefined'){ %>
<%  username = attemptedUsername;                                                         %>
<%  email = attemptedEmail;                                                               %>
<%}                                                                                       %>
<form method="POST" action="/user/register" class="form-style-1" id="registration-form">
  <div class="form-style-1-container grid-container centered-h gap-5" style="position: relative;">
    <div class="grid-container">
      <label for="username">Enter a username:</label>
      <div id="register-form-validation-message-username" class="hidden validation-message-div box-style-errors"><%- config.userDetailsValidation.username.description %></div>
      <input class="invalid register-input" type="text" name="username" id="username" placeholder="Username..." value="<%- username %>" required><br>
    </div>
    <div class="grid-container">
      <label for="password">Enter a Password:</label>
      <div id="register-form-validation-message-password" class="hidden validation-message-div box-style-errors"><%- config.userDetailsValidation.password.description %></div>
      <input class="invalid register-input" type="password" name="password" id="password" placeholder="Password..." required><br>
    </div>
    <div class="flex-container flex-start-h centered-v show-password-checkbox">
      <label for="show-password-register">Show password:</label>
      <input type="checkbox" name="show-password-register" id="show-password-register"><br>
    </div>
    <div class="grid-container">
      <label for="password">Confirm Password:</label>
      <div id="register-form-validation-message-password-confirm" class="hidden validation-message-div box-style-errors"><%- config.userDetailsValidation.password.description %></div>
      <input class="invalid register-input" type="password" name="password-confirm" id="password-confirm" placeholder="Confirm Password..." required><br>
    </div>
    <div class="grid-container">
      <label for="email">Enter an email:</label>
      <div id="register-form-validation-message-email" class="hidden validation-message-div box-style-errors"><%- config.userDetailsValidation.email.description %></div>
      <input class="invalid register-input" type="text" name="email" id="email" placeholder="Email..." value="<%- email %>" required><br>
    </div>
    <div class="flex-container centered-h">
      <input type="button" id="register-account-submit" value="Register Your Account" class="button-style-1">
    </div>
  </div>
  <script src="/script/register-form.js"></script>
</form>
<% } %>