<%- include('partials/top.ejs') %>
<div class="mood-entry-list">
  <% 

if (authed) { // if authenticated

  const days = new Map();
  days.set(0,'Monday');
  days.set(1,'Tuesday');
  days.set(2,'Wednesday');
  days.set(3,'Thursday');
  days.set(4,'Friday');
  days.set(5,'Saturday');
  days.set(6,'Sunday');
  const dayKeys = Object.getOwnPropertyNames(entries);
  
  if (dayKeys.length === 0) {
%>
  <div class="mood-day">
    <div>
      No Mood entries. Add some!
    </div>
  </div>
  <%
  }
  
  dayKeys.sort((a, b) => {
    if (a < b) return 1;
    if (a > b) return -1;
    return 0;
  });
  for (const day of dayKeys) {
    const date = new Date(day);
%>

  <div class="mood-day">
    <div>
      <%- date.toLocaleString('en-GB', { weekday: 'long' }) // day of week %>, <%- date.toLocaleDateString('en-GB') // date string %>
    </div>

    <%
    for (const entry of entries[day]) {
      const { entryId, datetime, mood, notes, activities, images } = entry;
      const entryDate = new Date(datetime);
    %>

    <div class="entry">
      <div class="entry-mood">
        <span class="entry-mood-name"><%- mood.name %> <img src="<%- mood.image.url %>" alt="<%- mood.image.altText %>" width="24px" height="24px"></span>
        <span>( <%- entryDate.toTimeString().substring(0,8) %> )</span>
        <span>
          <a href="/entry/edit/<%- entryId %>" class="nav-button">edit</a>
          <a href="/entry/delete/<%- entryId %>" class="nav-button">delete</a>
        </span>
      </div>
      <div class="entry-activities">

        <% for (const activity of activities) { %>
        <div class="entry-activity">
          <div class="entry-activity-name">
            <%- activity.activityName %>
          </div>
          <div class="entry-activity-image">
            <img src="<%- activity.image.url %>" alt="<%- activity.image.altText %>">
          </div>
        </div>
        <% } %>
      </div>
      <div class="entry-notes">
        <%- notes %>
      </div>
      <div class="entry-images">
        <% for (const image of images) { %>
        <img src="<%- image.url %>" alt="<%- image.altText %>">
        <% } %>
      </div>
    </div>


    <%   
    } 
   %>
  </div>
  <%
  }  
} else { // if not authenticated
%>
  <div>nah mate</div>
  <% 
} 
%>

  <script src="/script/mood-entry-list.js"></script>
</div>
<%- include('partials/bottom.ejs') %>