<% if (authed) { %>
<form method="POST" action="/entry/new" id="mood-entry-form">
  <div class="mood-selection-container">
    <div class="mood-selection">
      <% for (const mood of formData.moods) { %>
      <span class="mood">
        <span><img src="<%- mood.image.url %>" class="mood-image"></span>
        <span class="mood-name"><%- mood.name %></span>
      </span>
      <% } %>
    </div>
  </div>
  <textarea name="notes" id="mood-entry-notes"></textarea>
  <div class="activity-selection-container">
    <div class="activity-selection">
      Activity Groups
      <% for (const actGroup of formData.activityGroups) { %>
      <div class="activity-group">
        <div class="activity-group-name"><img src="<%- actGroup.image.url %>" alt="<%- actGroup.image.altText %>"><span><%- actGroup.activityGroupName %></span></div>
        <div class="activity-group-activities">
          <% for (const act of actGroup.activities) { %>
          <div class="activity"><img src="<%- act.image.url %>" alt="<%- act.image.altText %>">
            <div><%- act.activityName %></div>
          </div>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <input hidden type="text" id="activities-hidden-input" name="activities">
  <input hidden type="text" id="mood-hidden-input" name="mood">
  <input type="button" value="Add Entry" id="mood-entry-form-submit">
</form>

<script src="/script/mood-entry-form.js"></script>
<% } else { %>
Not authorized
<% } %>