<% 
if (authed) { 
%>
<form method="POST" action="/entry/new" id="mood-entry-form">
  <div class="mood-selection-container">

    <div class="mood-selection">
      <% 
      console.log('entryFormData:');
      console.log(entryFormData);
      for (const mood of entryFormData.moods) {
        const selector = (entryFormData.entry && entryFormData.entry.mood.name == mood.name ? 'selected ' : '') + 'mood'; 
      %>

      <span class="<%- selector %>">
        <span><img src="<%- mood.image.url %>" class="mood-image"></span>
        <span class="mood-name"><%- mood.name %></span>
      </span>
      <% 
      } 
      %>
    </div>

  </div>
  <textarea name="notes" id="mood-entry-notes">
  <%_ if (entryFormData.entry && entryFormData.entry.notes) { %>
    <%- entryFormData.entry.notes %>
  <% } %>
  </textarea>
  <div class="activity-selection-container">
    <div class="activity-selection">
      Activity Groups
      <% 
      for (const actGroup of entryFormData.activityGroups) { 
        // const a = entryFormData.entry.activities.filter(e => {
        //   return e.activityGroupId === actGroup.activityGroupId;
        //   console.log('e.activityGroupId: ', e.activityGroupId);
        //   console.log('actGroup.activityGroupId: ', actGroup.activityGroupId);
        // });
        // console.log('===actgroup===');
        // console.log(actGroup);
        // const a = entryFormData.entry.activities.map(e => {
        //   return e.activityId;
        //   console.log('e.activityGroupId: ', e.activityGroupId);
        //   console.log('actGroup.activityGroupId: ', actGroup.activityGroupId);
        // });


        // console.log('===actgroup===');
        // console.log(actGroup);
        // console.log('===a===');
        // console.log(a);
      %>
      <div class="activity-group">
        <div class="activity-group-name"><img src="<%- actGroup.image.url %>" alt="<%- actGroup.image.altText %>"><span><%- actGroup.activityGroupName %></span></div>
        <div class="activity-group-activities">
          <% 
          for (const act of actGroup.activities) { 
            // console.log('===act===');
            // console.log(act);
            //const selector = a.find(e => e) 'activity';
          %>
          <div class="activity"><img src="<%- act.image.url %>" alt="<%- act.image.altText %>">
            <div><%- act.activityName %></div>
          </div>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <input hidden type="text" id="activities-hidden-input" name="activities">
  <input hidden type="text" id="mood-hidden-input" name="mood">
  <input type="button" value="Add Entry" id="mood-entry-form-submit">
</form>
<% } else { %>
Not authorized
<% } %>